CalculatorClient/Service References/CalculatorService/WebServiceCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/WebServiceCalculator" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/WebServiceCalculator" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WebServiceCalculator">
      <s:element name="ExecuteOperation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNumber" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNumber" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="operation" type="tns:EnumOperationBi" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EnumOperationBi">
        <s:restriction base="s:string">
          <s:enumeration value="Add" />
          <s:enumeration value="Sub" />
          <s:enumeration value="Mul" />
          <s:enumeration value="Div" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ExecuteOperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteOperationResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogOperations">
        <s:complexType />
      </s:element>
      <s:element name="GetLogOperationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogOperationsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteOperationSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteOperation" />
  </wsdl:message>
  <wsdl:message name="ExecuteOperationSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteOperationResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogOperationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogOperations" />
  </wsdl:message>
  <wsdl:message name="GetLogOperationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogOperationsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceCalculatorSoap">
    <wsdl:operation name="ExecuteOperation">
      <wsdl:input message="tns:ExecuteOperationSoapIn" />
      <wsdl:output message="tns:ExecuteOperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogOperations">
      <wsdl:input message="tns:GetLogOperationsSoapIn" />
      <wsdl:output message="tns:GetLogOperationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceCalculatorSoap" type="tns:WebServiceCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteOperation">
      <soap:operation soapAction="http://tempuri.org/WebServiceCalculator/ExecuteOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/WebServiceCalculator/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogOperations">
      <soap:operation soapAction="http://tempuri.org/WebServiceCalculator/GetLogOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceCalculatorSoap12" type="tns:WebServiceCalculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteOperation">
      <soap12:operation soapAction="http://tempuri.org/WebServiceCalculator/ExecuteOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/WebServiceCalculator/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogOperations">
      <soap12:operation soapAction="http://tempuri.org/WebServiceCalculator/GetLogOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceCalculator">
    <wsdl:port name="WebServiceCalculatorSoap" binding="tns:WebServiceCalculatorSoap">
      <soap:address location="http://localhost:1241/WebServiceCalculator.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceCalculatorSoap12" binding="tns:WebServiceCalculatorSoap12">
      <soap12:address location="http://localhost:1241/WebServiceCalculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>